<a href="https://colab.research.google.com/github/nuratikafadillah6222-cloud/pemograman-dasar/blob/main/latihan_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Penjelasan:**

Kode tersebut berfungsi untuk mengimpor beberapa library penting yang sering digunakan dalam analisis data. NumPy (disingkat np) digunakan untuk melakukan perhitungan matematika dan mengolah data numerik. Pandas (disingkat pd) digunakan untuk mengolah dan menganalisis data dalam bentuk tabel seperti DataFrame. Matplotlib.pyplot (disingkat plt) berfungsi untuk membuat berbagai jenis grafik atau visualisasi data. Sedangkan Seaborn (disingkat sns) adalah library visualisasi yang membuat grafik menjadi lebih menarik dan informatif. Dengan mengimpor keempat library ini, kita dapat melakukan pengolahan data dan membuat visualisasi dengan lebih mudah dan efisien.

**Memuat Tabel**

In [ ]:
tika_df = pd.read_csv('/content/mahasiswa.csv')
#import file csv

**Penjelasan:**

Kode tersebut digunakan untuk membaca file **CSV** bernama *mahasiswa.csv*  dan memasukkannya ke dalam sebuah **DataFrame** dengan nama `tika_df` menggunakan library **Pandas**. Fungsi `pd.read_csv()` secara otomatis membuka file CSV, membaca isinya, lalu mengubahnya menjadi tabel data yang mudah diolah, dianalisis, atau ditampilkan.

**Load tabel**

In [ ]:
tika_df.head(10)
#melihat 10 data tertas

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22
5,E0006,Fajar,Energi,21.0,-20,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,120,58.2,83.0,2024-11-17
9,E0010,Joko,Teknik,23.0,62.7,69.0,2024-01-24

In [ ]:
tika_df.tail(10)
#melihat 10 data terakhir

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17
70,E0032,Ferry,Teknik,25.0,87.3,80.0,2024-01-30
71,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
72,E0062,Kirana,Energi,25.0,92.4,65.0,2024-08-22
73,E0057,Fauzi,Energi,23.0,58.2,76.0,2024-02-05
74,E0039,Mita,Energi,23.0,77.2,79.0,2024-01-04
75,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
76,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
77,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24

**Penjelasan:**

Kode tersebut digunakan untuk menampilkan 10 baris pertama dari DataFrame tika_df. Perintah ini sangat berguna untuk melihat gambaran awal dari data, seperti struktur tabel, nama kolom, dan contoh isi data. Dengan demikian, kita dapat memastikan bahwa file CSV sudah berhasil dibaca dengan benar dan isi datanya sesuai harapan

**Assessing Data**

In [ ]:
tika_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

**Penjelasan:**

Kode tersebut digunakan untuk menampilkan informasi lengkap tentang DataFrame, seperti jumlah baris dan kolom, nama setiap kolom, jumlah data yang tidak kosong (non-null), serta jenis data (data type) pada masing-masing kolom. Perintah ini membantu kita memahami struktur data secara keseluruhan dan mengetahui apakah ada kolom yang berisi data kosong atau tipe data yang perlu diperbaiki. Dengan menggunakan info(), kita bisa mendapatkan ringkasan cepat sebelum melakukan analisis lebih lanjut.

dari hasil infor terdapat jumlah data yg tidak konsisten ada 2 kolom yg jumlah nya 28 sedangkan yg lainya hanya 76

In [ ]:
tika_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk memeriksa jumlah data yang kosong (missing values) pada setiap kolom dalam DataFrame tika_df. Fungsi isna() akan mengecek setiap sel dan menandainya sebagai True jika kosong, lalu sum() menjumlahkan nilai True tersebut untuk setiap kolom. Dengan perintah ini, kita dapat mengetahui kolom mana yang memiliki data hilang dan berapa banyak jumlahnya, sehingga memudahkan kita untuk menentukan langkah pembersihan data selanjutnya.

Terdapat 5 kolom yang NaN atau missing values

In [ ]:
print("Jumlah duplikasi: ", tika_df.duplicated().sum())

Jumlah duplikasi:  8

**Penjelasan:**

Kode tersebut digunakan untuk menghitung dan menampilkan jumlah baris data yang duplikat di dalam DataFrame tika_df. Fungsi duplicated() akan memeriksa setiap baris dan menandai baris yang isinya sama persis dengan baris sebelumnya. Kemudian, sum() digunakan untuk menjumlahkan seluruh baris yang terdeteksi sebagai duplikat. Hasilnya dicetak ke layar menggunakan print(). Perintah ini membantu kita memastikan apakah terdapat data ganda yang perlu dibersihkan agar analisis data menjadi lebih akurat.

Lalu terdapat juga 8 data duplikasi

**Cleaning Data**

menghilangklan duplicate data dengan drop_duplicates()

In [ ]:
tika_df.drop_duplicates(inplace=True)

**Penjelasan:**

kode tersebut digunakan untuk menghapus baris data yang duplikat dari DataFrame tika_df. Fungsi drop_duplicates() akan mencari baris yang memiliki isi sama persis, lalu menghapus baris-baris duplikat tersebut. Penggunaan inplace=True berarti perubahan dilakukan langsung pada DataFrame asli tanpa perlu membuat salinan baru. Dengan perintah ini, data menjadi lebih bersih dan bebas dari pengulangan yang bisa memengaruhi hasil analisis.

In [ ]:
print("Jumlah duplikasi: ", tika_df.duplicated().sum())

Jumlah duplikasi:  0

**Penjelasan:**

kode tersebut digunakan untuk menampilkan kembali jumlah baris yang terduplikasi setelah proses pembersihan data dilakukan. Fungsi tika_df.duplicated().sum() menghitung berapa banyak baris yang masih terdeteksi sebagai duplikat di dalam DataFrame tika_df. Karena sebelumnya sudah dilakukan penghapusan duplikasi, hasil yang ditampilkan biasanya adalah 0, menandakan bahwa data sudah bersih dari baris ganda. Perintah ini penting untuk memastikan bahwa proses penghapusan duplikasi telah berhasil.

Sekarang data duplikat sudah selesai

**Menangani missing value**

In [ ]:
tika_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk mengecek kembali jumlah data yang kosong (missing values) pada setiap kolom dalam DataFrame tika_df. Perintah ini menghitung berapa banyak nilai yang hilang setelah proses pembersihan data dilakukan. Fungsi isna() menandai setiap nilai kosong, lalu sum() menjumlahkan jumlah nilai kosong tersebut per kolom. Dengan menjalankan kode ini, kita dapat memastikan apakah masih ada data yang belum terisi atau perlu ditangani lebih lanjut.

In [ ]:
tika_df['jurusan'] = tika_df['jurusan'].fillna("Pembangkit Energi")

#disini untuk jurusan di isi dengan pembangkit energi

**Penjelasan:**

Berikut penjelasan dalam bentuk paragraf:

Kode tersebut berfungsi untuk mengisi nilai yang kosong pada kolom **jurusan** dengan teks **"Pembangkit Energi"**. Perintah `fillna()` akan mencari semua data yang kosong (NaN) dalam kolom tersebut, kemudian menggantinya dengan nilai yang sudah ditentukan. Dengan cara ini, kolom jurusan menjadi lengkap dan tidak ada lagi data yang kosong, sehingga analisis data dapat dilakukan tanpa gangguan. Komentar `#disini untuk jurusan di isi dengan pembangkit energi` menjelaskan bahwa nilai kosong tersebut diisi khusus dengan jurusan Pembangkit Energi.

In [ ]:
tika_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk mengecek kembali jumlah data kosong (missing values) pada setiap kolom dalam DataFrame tika_df setelah proses pengisian nilai dilakukan. Fungsi isna() akan menandai setiap sel yang kosong, lalu sum() menjumlahkannya untuk setiap kolom. Dengan menjalankan perintah ini setelah pengisian nilai pada kolom jurusan, kita dapat memastikan bahwa kolom tersebut sudah tidak memiliki data kosong lagi dan mengetahui apakah masih ada kolom lain yang perlu dibersihkan.

In [ ]:
tika_df['umur'] = tika_df['umur'].fillna(23)

**Penjelasan:**

Kode tersebut digunakan untuk mengisi nilai yang kosong pada kolom **umur** dengan angka **23**. Fungsi `fillna()` akan mencari semua baris yang tidak memiliki data umur (NaN) dan menggantinya dengan nilai yang telah ditentukan, yaitu 23. Langkah ini penting untuk memastikan bahwa kolom umur tidak lagi memiliki data kosong, sehingga proses analisis dapat berjalan lebih akurat dan tidak terganggu oleh nilai yang hilang. Setelah kode dijalankan, semua baris dengan umur kosong akan terisi dengan nilai 23.

In [ ]:
tika_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

**Penjelasan:**

kode tersebut dijalankan untuk mengecek kembali jumlah nilai kosong (missing values) pada setiap kolom setelah proses pengisian data dilakukan. Fungsi isna() akan menandai setiap sel yang kosong, kemudian sum() menjumlahkan berapa banyak nilai kosong yang ada pada masing-masing kolom. Dengan menjalankan perintah ini, kita dapat memastikan bahwa kolom jurusan dan umur benar-benar sudah terisi dan tidak memiliki data yang hilang lagi. Kode ini membantu memastikan bahwa dataset sudah bersih sebelum melanjutkan analisis.

In [ ]:
tika_df['nilai_akhir'] = pd.to_numeric(tika_df['nilai_akhir'], errors='coerce') #konveksi tipe data

tika_df['nilai_akhir'].mean() #mencari data

np.float64(88.15384615384616)

**Penjelasan:**

Kode `tika_df['nilai_akhir'] = pd.to_numeric(tika_df['nilai_akhir'], errors='coerce')` digunakan untuk mengubah kolom **nilai_akhir** menjadi tipe data numerik. Jika ada nilai yang tidak bisa diubah menjadi angka (misalnya teks atau karakter lain), maka nilai tersebut akan otomatis diganti menjadi `NaN` karena penggunaan `errors='coerce'`. Setelah memastikan bahwa kolom tersebut sudah berbentuk angka, perintah `tika_df['nilai_akhir'].mean()` digunakan untuk menghitung **nilai rata-rata** dari kolom nilai_akhir. Dengan demikian, kedua perintah ini membantu memastikan data numerik berada dalam format yang benar dan memudahkan proses analisis lebih lanjut, seperti mencari rata-rata nilai.

In [ ]:
tika_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     object
 4   nilai_akhir     65 non-null     float64
 5   kehadiran_pct   68 non-null     float64
 6   tanggal_daftar  68 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

**Penjelasan:**

kode tersebut digunakan untuk menampilkan ringkasan informasi tentang struktur DataFrame setelah beberapa proses pembersihan dan konversi data dilakukan. Perintah ini akan menunjukkan jumlah baris dan kolom, nama setiap kolom, berapa banyak data yang tidak kosong (non-null), serta tipe data dari masing-masing kolom. Dengan menjalankan info() pada tahap ini, kita dapat memastikan bahwa kolom nilai_akhir sudah berhasil dikonversi menjadi tipe numerik, dan kolom lain seperti jurusan serta umur sudah tidak memiliki nilai kosong. Ini membantu memastikan dataset dalam kondisi bersih dan siap digunakan untuk analisis lebih lanjut.

Jika kita lihat di sini tipe dara pada nilai_akhir sudah berubah menjadi float

In [ ]:
tika_df['nilai_akhir'] = tika_df['nilai_akhir'].fillna(88)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yang sudah di dapat sebelumnya

**Penjelasan:**

kode tersebut digunakan untuk mengisi nilai yang kosong pada kolom nilai_akhir dengan angka 88, yang merupakan nilai rata-rata yang telah dihitung sebelumnya. Fungsi fillna() akan mencari semua baris yang memiliki nilai kosong (NaN) pada kolom tersebut dan menggantinya dengan nilai rata-rata tersebut agar tidak ada data hilang yang dapat mengganggu proses analisis. Dengan langkah ini, seluruh nilai pada kolom nilai_akhir menjadi lengkap dan siap digunakan untuk analisis statistik berikutnya.

In [ ]:
tika_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk mengecek kembali apakah masih terdapat nilai kosong (missing values) pada DataFrame setelah pengisian nilai pada kolom nilai_akhir dilakukan. Fungsi ini menghitung jumlah data kosong pada setiap kolom, sehingga kita dapat memastikan bahwa kolom nilai_akhir sudah tidak memiliki nilai NaN lagi.

**Lakukan untuk kolom kehadiran**

In [ ]:
tika_df['kehadiran_pct'] = pd.to_numeric(tika_df['kehadiran_pct'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

tika_df['kehadiran_pct'].mean() #mencari rata-rata

np.float64(82.13235294117646)

**Penjelasan:**

Kode tika_df['kehadiran_pct'] = pd.to_numeric(tika_df['kehadiran_pct'], errors='coerce') digunakan untuk mengubah kolom kehadiran_pct menjadi tipe data numerik (float). Jika terdapat nilai yang tidak bisa diubah menjadi angka, fungsi pd.to_numeric() akan mengubahnya menjadi NaN karena menggunakan errors='coerce'. Setelah kolom berhasil dikonversi, perintah tika_df['kehadiran_pct'].mean() digunakan untuk menghitung rata-rata persentase kehadiran dari seluruh data pada kolom tersebut. Dengan dua langkah ini, kita memastikan bahwa data kehadiran sudah dalam format angka dan dapat diolah untuk analisis statistik, seperti mencari nilai rata-ratanya.

In [ ]:
tika_df['kehadiran_pct'] = mhs_df['kehadiran_pct'].fillna(82)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

**Penjelasan:**

kode tersebut digunakan untuk mengisi nilai kosong pada kolom kehadiran_pct dengan angka 82, yang merupakan nilai rata-rata kehadiran yang telah dihitung sebelumnya. Fungsi fillna() akan mencari semua nilai yang hilang (NaN) pada kolom tersebut, lalu menggantinya dengan angka 82 agar tidak ada lagi data kosong yang dapat mengganggu analisis. Meskipun terdapat penulisan mhs_df, yang seharusnya sama dengan nama DataFrame yang digunakan sebelumnya (tika_df), tujuan utama perintah ini tetap sama, yaitu memastikan kolom kehadiran_pct terisi dengan nilai rata-rata yang sudah diperoleh.

In [ ]:
tika_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk memeriksa kembali jumlah nilai kosong (missing values) pada setiap kolom di dalam DataFrame tika_df setelah proses pengisian data dilakukan. Fungsi isna() akan menandai setiap sel yang kosong, lalu sum() menghitung jumlah nilai kosong tersebut pada masing-masing kolom. Dengan menjalankan perintah ini, kita dapat memastikan bahwa kolom kehadiran_pctserta kolom lainnyasudah tidak memiliki data yang hilang.

Lakukan untuk kolom tanggal daftar

In [ ]:
tika_df['tanggal_daftar'] = tika_df['tanggal_daftar'].fillna('2024-03-24')

# karena tanggal lagir di sini bertipe string jadi langsung masukan saja tidak perlu di cari rata-rata nya atau konversi ke numerik

**Penjelasan:**

kode tersebutdigunakan untuk mengisi nilai yang kosong pada kolom tanggal_daftar dengan tanggal "2024-03-24". Karena kolom ini berisi data berupa teks tanggal (string), maka nilai kosong dapat langsung diisi tanpa perlu dihitung rata-ratanya atau dikonversi menjadi tipe numerik. Langkah ini memastikan bahwa tidak ada lagi data tanggal yang hilang, sehingga seluruh baris pada kolom tanggal_daftar memiliki nilai yang lengkap dan siap digunakan dalam proses analisis berikutnya.

In [ ]:
tika_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk mengecek kembali apakah masih terdapat nilai kosong (missing values) pada DataFrame tika_df setelah pengisian data pada kolom tanggal_daftar dilakukan. Perintah isna() akan mendeteksi sel mana saja yang kosong, kemudian sum() menghitung jumlah nilai kosong tersebut di setiap kolom. Dengan menjalankan perintah ini, kita dapat memastikan bahwa seluruh kolom, termasuk tanggal_daftar, sudah terisi sepenuhnya dan tidak ada lagi data yang hilang. Ini membantu memastikan bahwa dataset benar-benar bersih sebelum melanjutkan proses analisis berikutnya.

Sekarang tidak ada lagi data missing atau NaN

**Menangani inaccurate value**

In [ ]:
tika_df.jurusan.value_counts()

jurusan
Energi               21
Informatika          17
Teknik               12
Manajemen Energi     11
Pembangkit Energi     2
teknik                1
 energi               1
ManajemenEnergi       1
EnErGi                1
Teknik                1
ENG                   1
ENERGI                1
Name: count, dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk menghitung dan menampilkan jumlah kemunculan setiap kategori yang ada pada kolom jurusan dalam DataFrame tika_df. Fungsi value_counts() akan mengelompokkan data berdasarkan nama jurusan, kemudian menghitung berapa kali masing-masing jurusan muncul. Hasilnya membantu kita melihat distribusi atau frekuensi dari setiap jurusan yang terdaftar dalam dataset. Perintah ini sangat berguna untuk analisis data kategorikal, seperti mengetahui jurusan mana yang paling banyak atau paling sedikit jumlahnya.

In [ ]:
tika_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk menghitung dan menampilkan jumlah kemunculan setiap nilai umur yang ada pada kolom umur dalam DataFrame tika_df. Fungsi value_counts() akan mengurutkan nilai umur berdasarkan frekuensinya, sehingga kita dapat mengetahui umur mana yang paling banyak muncul dan mana yang lebih jarang. Perintah ini sangat berguna untuk memahami distribusi umur dalam dataset serta melihat pola atau kecenderungan dari data umur yang tersedia.

Terdapat 2 kolom yang datanya tidak akurat atau  inaccurate value

In [ ]:
tika_df['jurusan'] = tika_df['jurusan'].str.lower().str.strip()
#ubah menjadi huruf kecil

**Penjelasan:**

kode tersebut digunakan untuk membersihkan data pada kolom jurusan dengan cara mengubah seluruh teks menjadi huruf kecil dan menghapus spasi berlebih di awal atau akhir kata. Fungsi str.lower() akan memastikan bahwa semua huruf dalam kolom tersebut berada dalam format lowercase, sedangkan str.strip() menghilangkan spasi yang tidak diperlukan. Langkah ini penting untuk menjaga konsistensi data, terutama ketika melakukan analisis atau pengelompokan.

In [ ]:
tika_df.jurusan.value_counts()

jurusan
energi               24
informatika          17
teknik               14
manajemen energi     11
pembangkit energi     2
manajemenenergi       1
eng                   1
Name: count, dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk melihat berapa kali setiap jenis jurusan muncul dalam DataFrame setelah dilakukan pembersihan data seperti mengubah huruf menjadi kecil dan menghapus spasi. Fungsi value_counts() akan menghitung frekuensi kemunculan setiap kategori pada kolom jurusan dan menampilkannya dalam bentuk daftar yang diurutkan dari jumlah terbanyak ke jumlah paling sedikit. Perintah ini membantu kita memahami distribusi jurusan dalam dataset serta memastikan bahwa data jurusan sudah konsisten setelah proses normalisasi dilakukan.

In [ ]:
#untuk memudahkan replacing maka di buatkan mapping jurusan sesuai dengan yg di inginkan, dengan kata-kata yg mirip di masukan ke jurusan yg seusai

mapping_jurusan = {
    "energi": "Pembangkit Energi",
    " energi ": "Pembangkit Energi",
    "ENERGI": "Pembangkit Energi",
    "EnErGi": "Pembangkit Energi",
    "eng": "Pembangkit Energi",
    "teknik": "Pembangkit Energi",
    "Teknik ": "Pembangkit Energi",
    "teknik ": "Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}

**Penjelasan:**

Kode di atas digunakan untuk membuat sebuah mapping atau peta perubahan nilai pada kolom jurusan untuk mempermudah proses normalisasi dan penyamaan data jurusan. Mapping tersebut disimpan dalam variabel mapping_jurusan berbentuk dictionary, di mana setiap kata atau variasi penulisan jurusan yang miripseperti "energi", "ENErGI", "eng", "teknik", maupun variasi dengan spasiakan diganti menjadi satu nama jurusan yang benar dan konsisten, yaitu "Pembangkit Energi". Begitu juga penulisan seperti "manajemenenergi" atau "manajemen energi" akan diseragamkan menjadi "Manajemen Energi". Mapping ini sangat berguna untuk mengatasi perbedaan penulisan yang tidak konsisten sehingga data menjadi lebih rapi, terstandarisasi, dan mudah dianalisis.

In [ ]:
tika_df["jurusan"] = tika_df["jurusan"].replace(mapping_jurusan)

**Penjelasan:**

kode tersebut digunakan untuk mengganti nilai-nilai pada kolom jurusan berdasarkan daftar mapping yang sudah dibuat sebelumnya. Fungsi replace() akan mencari seluruh kata atau variasi penulisan jurusan yang terdapat dalam dictionary mapping_jurusan, lalu menggantinya dengan nama jurusan yang sudah distandarisasi, seperti "Pembangkit Energi" atau "Manajemen Energi". Dengan perintah ini, seluruh data jurusan yang sebelumnya memiliki penulisan berbeda-beda menjadi lebih rapi, konsisten, dan seragam, sehingga memudahkan proses analisis dan pengelompokan data selanjutnya.

In [ ]:
tika_df["jurusan"] = tika_df["jurusan"].str.title()

#kemablikan menjadi huruf besar

**Penjelasan:**

kode tersebut digunakan untuk mengubah format teks pada kolom jurusan menjadi bentuk Title Case, yaitu setiap kata diawali dengan huruf besar. Perintah str.title() secara otomatis mengubah teks seperti pembangkit energi menjadi Pembangkit Energi, sehingga tampil lebih rapi dan formal. Langkah ini dilakukan setelah proses pembersihan dan mapping jurusan selesai, agar semua nama jurusan tampil konsisten dalam gaya penulisan yang baik.

In [ ]:
tika_df.jurusan.value_counts()

jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk menghitung dan menampilkan jumlah kemunculan setiap jurusan setelah semua proses pembersihan data selesai, seperti normalisasi huruf, penggantian nilai menggunakan mapping, dan pengubahan format teks menjadi Title Case. Dengan menjalankan perintah ini, kita dapat melihat distribusi akhir jurusan dalam dataset secara jelas dan sudah dalam bentuk yang rapi serta konsisten. Fungsi ini sangat berguna untuk analisis kategorikal, seperti mengetahui jurusan mana yang paling banyak dipilih atau memastikan bahwa seluruh data jurusan telah terseragamkan dengan benar.

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(tika_df['jurusan'].value_counts())

Hasil setelah normalisasi dan pemetaan:
jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk menampilkan teks pemberitahuan bahwa hasil yang muncul berikutnya adalah hasil akhir setelah proses normalisasi dan pemetaan data jurusan selesai. Kemudian, perintah print(tika_df['jurusan'].value_counts()) digunakan untuk menampilkan jumlah kemunculan setiap jurusan dalam DataFrame setelah semua data jurusan dibersihkan, diseragamkan, dan diformat dengan benar. Dengan dua baris kode ini, kita bisa melihat distribusi jurusan yang sudah rapi dan konsisten, sekaligus memastikan bahwa proses normalisasi data pada kolom jurusan telah berhasil dilakukan sepenuhnya.

Sekarang untuk inaccurate  value pada kolom jurusan sudah selesai dan tidak da yg type atau tidak terkelompok dengan benar

**Selanjutnya lakuakan untuk kolom nilai**

In [ ]:
tika_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk menghitung dan menampilkan jumlah kemunculan setiap nilai umur di dalam DataFrame tika_df. Fungsi value_counts() akan mengelompokkan data berdasarkan nilai umur, kemudian menghitung berapa kali setiap umur muncul dalam dataset. Hasilnya menunjukkan distribusi umur mahasiswa, sehingga kita bisa mengetahui umur mana yang paling banyak, paling sedikit, atau melihat apakah data umur sudah seragam setelah proses pembersihan dilakukan. Perintah ini sangat berguna untuk memahami pola dan komposisi umur dalam dataset.

di sini terlihat beberapa data yg tidak konsisten seperti (150, -5, twenty, 120,NaN_string, 21years

Selanjutnya lakukan seperti pada kolom jurusan , bisa di lakukan mapping atau di ganti satu persatu, karena di sini jumlah data yg inkonsisten hanya satum jadi bisa di replace saja

In [ ]:
tika_df['umur'] = tika_df['umur'].replace('twenty', 20)

#bisa di lakuakn replace satu persatu seperti ini
# dari sebelumnya twenty menjadi 20

**Penjelasan:**

kode tersebut digunakan untuk mengganti nilai yang tidak berbentuk angka pada kolom umur, yaitu kata "twenty", menjadi nilai numerik 20. Fungsi replace() memungkinkan kita mengganti nilai tertentu secara langsung dan spesifik. Cara ini sering digunakan jika hanya ada beberapa nilai yang salah atau tidak sesuai format, sehingga dapat diperbaiki satu per satu. Komentar di bawahnya menjelaskan bahwa proses ini dilakukan untuk mengubah penulisan umur dari bentuk teks menjadi bentuk angka yang benar, agar kolom umur konsisten dan dapat digunakan dalam perhitungan atau analisis numerik.

In [ ]:
print(tika_df['umur'].value_counts())

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
20             1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

**Penjelasan:**

kode tersebut digunakan untuk menampilkan jumlah kemunculan setiap nilai umur pada kolom umur setelah dilakukan proses pembersihan atau penggantian nilai, seperti mengubah "twenty" menjadi 20. Fungsi value_counts() akan menghitung berapa kali setiap umur muncul dalam dataset, kemudian print() menampilkan hasilnya di layar. Dengan perintah ini, kita dapat memeriksa apakah nilai umur sudah konsisten, apakah ada umur yang tidak wajar, serta melihat distribusi umur mahasiswa secara keseluruhan.

Bisa di lakuakn replace satu persatu seperti di atas atau mapping kembali seperti jurusan sebelumnya

In [ ]:
"""mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': np.nan,
    -5: np.nan,
    120: np.nan,
    150: np.nan
}
"""
#untuk nilai yang NaN_string, -5, 120, 150 bisa langsung di ganti dengan rata-rata umur atau di jadikan missing value, tetapi jika di jadikan missing value maka setelah ini anda akan mengganti missing value tersebut, jadi sebelum itu lebih baik  di cari rata-rata nya terlebih dahulu lalu di ganti pada mappingan ini

"mapping_umur = {\n    'twenty': 20,\n    '21years': 21,\n    'NaN_string': np.nan,\n    -5: np.nan,\n    120: np.nan,\n    150: np.nan\n}\n"

**Penjelasan:**

Kode di atas berisi sebuah mapping bernama mapping_umur (yang masih dalam bentuk komentar) yang digunakan untuk memperbaiki atau membersihkan data pada kolom umur. Mapping ini berfungsi untuk mengganti nilai-nilai yang tidak valid, salah format, atau tidak wajar. Misalnya, teks "twenty" diganti menjadi angka 20, "21years" diganti menjadi 21, sementara nilai seperti "NaN_string", -5, 120, atau 150 dianggap tidak masuk akal untuk data umur sehingga diubah menjadi np.nan (missing value). Dengan mengubah nilai-nilai yang tidak valid menjadi missing value, kita dapat melakukan pembersihan lebih lanjut. Komentar yang ditambahkan menjelaskan bahwa nilai-nilai tersebut bisa langsung diganti dengan rata-rata umur jika sudah dihitung sebelumnya. Oleh karena itu, sebelum menerapkan mapping ini, lebih baik menghitung rata-rata umur terlebih dahulu agar nilai yang tidak valid dapat diganti dengan nilai rata-rata tersebut, sehingga data menjadi lebih bersih dan konsisten.

In [ ]:
tika_df['umur'] = pd.to_numeric(tika_df['umur'], errors='coerce')
tika_df['umur'].mean()

np.float64(25.220588235294116)

**Penjelasan:**

kode tersebut digunakan untuk mengubah seluruh isi kolom umur menjadi tipe numerik. Nilai yang memang berupa angka akan langsung dikonversi, sedangkan nilai yang tidak valid seperti "twenty", "NaN_string", -5, 120, atau 150 otomatis diubah menjadi NaN karena parameter errors='coerce'. Dengan demikian, kolom umur menjadi lebih bersih karena hanya menyisakan angka valid dan missing value. Setelah itu, perintah tika_df['umur'].mean() menghitung nilai rata-rata umur dengan mengabaikan semua nilai NaN secara otomatis. Artinya, hanya data umur yang valid saja yang digunakan untuk menghitung mean. Nilai rata-rata ini nantinya dapat digunakan untuk menggantikan seluruh nilai umur yang sebelumnya invalid, sehingga data menjadi konsisten dan siap dipakai pada tahap analisis berikutnya.

Sekarang setelah di konversi menjadi numerik maka di dapat nilai rata-rata, dan selanjutnya isikan pada mappinganya

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25
}

**Penjelasan:**

mapping tersebut digunakan untuk menstandarkan berbagai nilai tidak valid atau tidak konsisten pada kolom umur menjadi nilai numerik yang benar. Pada kamus tersebut, nilai seperti 'twenty' diubah menjadi 20, '21years' diubah menjadi 21, sehingga data tekstual berubah menjadi angka yang bisa dianalisis. Sementara itu, nilai yang dianggap tidak logis atau tidak realistis  seperti 'NaN_string', -5, 120, dan 150  diganti dengan 25, yaitu nilai rata-rata umur yang sebelumnya telah dihitung dari data valid. Pendekatan ini memastikan bahwa seluruh data umur menjadi seragam, tidak ada lagi nilai ekstrem atau format yang salah, sehingga kolom umur menjadi bersih dan siap digunakan untuk proses analisis lebih lanjut seperti statistik, visualisasi, maupun pemodelan.

In [ ]:
tika_df['umur'] = tika_df['umur'].replace(mapping_umur)

**Penjelasan:**

kode tersebut digunakan untuk mengganti nilai-nilai pada kolom umur sesuai dengan kamus mapping_umur yang telah dibuat sebelumnya. Proses ini secara otomatis mencari data umur yang tidak valid atau tidak konsistenseperti 'twenty', '21years', atau angka yang tidak masuk akal seperti -5, 120, dan 150lalu menggantinya dengan nilai yang sudah ditentukan dalam mapping, misalnya 20, 21, atau 25 sebagai nilai rata-rata. Dengan langkah ini, seluruh data dalam kolom umur menjadi lebih bersih, seragam, dan layak digunakan untuk analisis tanpa adanya gangguan dari nilai yang salah format atau tidak realistis.

In [ ]:
print("Hasil setelah pemetaan:")
print(tika_df['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {tika_df['umur'].dtype}")

Hasil setelah pemetaan:
umur
23.0    17
25.0    13
20.0    10
24.0     9
22.0     8
19.0     7
21.0     4
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: float64

**Penjelasan:**

Kode tersebut digunakan untuk menampilkan hasil akhir setelah proses pemetaan nilai umur selesai dilakukan. Baris print("Hasil setelah pemetaan:") hanya menampilkan judul agar output lebih mudah dibaca. Kemudian, print(tika_df['umur'].value_counts()) digunakan untuk menghitung dan menampilkan berapa banyak setiap nilai umur yang muncul setelah dilakukan penggantian menggunakan mapping. Ini membantu memastikan apakah pemetaan sudah berjalan dengan benar. Terakhir, print(f"\nTipe data kolom 'umur' sekarang: {tika_df['umur'].dtype})" berfungsi untuk mengecek tipe data kolom umur setelah proses pembersihan, biasanya memastikan bahwa seluruh datanya sudah dalam bentuk numerik (int atau float). Dengan demikian, langkah ini memastikan bahwa data sudah siap dipakai untuk analisis lebih lanjut tanpa adanya nilai yang tidak valid.

Sekarang kolom umur sudah tidak ada lagi data yg inaccruate,tetapi harus di pastikan lagi seperti di bawah ini

In [ ]:
tika_df.isna().sum()
#ternyata terdapat 2 nilai yang NaN pada kolom umur

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

**Penjelasan:**

kode tersebut menunjukkan bahwa kolom umur memiliki dua nilai NaN, yaitu data yang kosong atau tidak terisi. Informasi ini penting karena nilai yang hilang dapat memengaruhi perhitungan atau analisis selanjutnya. Dengan mengetahui jumlah NaN, kita bisa menentukan langkah penanganan yang tepat, seperti mengisi nilai yang hilang dengan rata-rata atau median, atau menghapus baris tersebut jika tidak diperlukan. Pemeriksaan ini membantu memastikan bahwa data lebih rapi dan siap digunakan tanpa gangguan dari nilai yang tidak lengkap

In [ ]:
tika_df.head(50)
#untuk memastika bisa menggunakan sintaks di atas dengan masukan value baris yang ingin di lihat, cara ini juga bisa di lakukan untuk tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17

**Penjelasan:**

kode tersebut digunakan untuk menampilkan 50 baris pertama dari dataframe. Cara ini membantu kita melihat data secara langsung untuk memastikan apakah isinya sudah sesuai, terutama setelah melakukan pembersihan atau pengolahan data. Selain itu, fungsi ini bisa diganti dengan tika_df.tail(50) jika yang ingin dilihat adalah 50 baris terakhir. Kedua perintah tersebut sangat berguna untuk melakukan pengecekan cepat terhadap struktur, isi, dan kualitas data sebelum melanjutkan analisis lebih lanjut.

In [ ]:
tika_df.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,NaN,62.6,78.0,2024-01-30
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-10-26
55,E0056,Edo,Pembangkit Energi,23.0,88.0,98.0,2024-03-21
56,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-02-05
57,E0058,Gita,Pembangkit Energi,24.0,89.5,90.0,2024-03-02
58,E0059,Hadi,Informatika,23.0,78.8,70.0,2024-08-02
59,E0060,Ilham,Informatika,21.0,88.0,85.0,2024-05-02
60,E0061,Jaya,Informatika,22.0,60.2,84.0,2024-08-22
61,E0062,Kirana,Pembangkit Energi,25.0,92.4,65.0,2024-08-22
62,E0063,Lutfi,Pembangkit Energi,19.0,76.5,97.0,2024-05-15
63,E0064,Mega,Pembangkit Energi,21.0,90.2,80.0,2024-07-08
64,E0065,Nadia,Informatika,23.0,72.5,99.0,2024-12-26
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17

**Penjelasan:**

kode tersebut digunakan untuk menampilkan 50 baris terakhir dari dataframe. Cara ini bermanfaat ketika kita ingin memeriksa bagian akhir data, misalnya untuk melihat apakah ada pola tertentu, memastikan hasil pengolahan data, atau mengecek apakah terdapat nilai kosong atau tidak sesuai di bagian bawah dataset. Fungsi ini bekerja mirip dengan head(50), tetapi fokusnya pada baris paling akhir. Dengan melihat baris-barus tersebut, kita bisa melakukan pengecekan cepat sebelum melanjutkan proses analisis atau pembersihan data berikutnya.

Terdapat Missing value pada baris 21 dan 54

untuk itu bisa di lakukan replace lagi dengan memasukan rata-rata umur seperti sebelumnya

In [ ]:
tika_df['umur'].mean() #mencari rata-rata

np.float64(22.426470588235293)

**Penjelasan:**

kode tersebut digunakan untuk menghitung nilai rata-rata (mean) dari kolom umur pada dataframe. Perintah ini hanya akan menghitung nilai usia yang valid, sementara nilai NaN akan otomatis diabaikan oleh Python. Hasil dari perhitungan ini biasanya dipakai sebagai acuan, misalnya untuk mengisi nilai umur yang hilang atau untuk memahami gambaran umum distribusi umur dalam dataset. Dengan demikian, langkah ini membantu memastikan analisis selanjutnya menjadi lebih akurat dan bermakna.

In [ ]:
tika_df['umur'] = mhs_df['umur'].fillna(22) #isi dengan nilai rata-rata

**Penjelasan:**

kode tersebut digunakan untuk mengisi nilai kosong (NaN) pada kolom umur dengan nilai 22, yang dianggap sebagai rata-rata umur dalam dataset tersebut. Perintah fillna(22) secara otomatis mengganti semua nilai yang hilang dengan angka 22 sehingga kolom umur menjadi lengkap tanpa data kosong. Setelah proses ini, kolom umur dapat digunakan untuk analisis lebih lanjut tanpa terganggu oleh nilai yang tidak terisi. Mengisi NaN dengan rata-rata juga membantu menjaga konsistensi data dan menghindari bias dalam perhitungan statistik.

In [ ]:
tika_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

**Penjelasan:**

kode tersebut  digunakan untuk menghitung jumlah nilai yang hilang (NaN) pada setiap kolom di dalam dataframe. Hasilnya akan menunjukkan berapa banyak data kosong yang masih tersisa setelah proses pembersihan dilakukan, termasuk pada kolom umur atau kolom lainnya. Dengan melakukan pengecekan ini, kita bisa memastikan apakah semua nilai NaN sudah berhasil diisi atau masih ada yang perlu ditangani. Langkah ini penting agar dataset benar-benar bersih dan siap digunakan untuk analisis berikutnya tanpa gangguan dari data yang tidak lengkap.

Setelah di cek sudah tidak ada lagi data yang missing pada semua kolom data

In [ ]:
tika_df.duplicated().sum()

np.int64(0)

**Penjelasan:**

kode tersebut digunakan untuk menghitung jumlah baris duplikat dalam dataframe. Fungsi duplicated() akan menandai setiap baris yang isinya sama persis dengan baris sebelumnya sebagai True, lalu sum() menghitung berapa banyak nilai True tersebut. Hasilnya menunjukkan berapa banyak data yang muncul lebih dari sekali. Langkah ini penting untuk memastikan bahwa dataset tidak memiliki baris ganda yang bisa menyebabkan analisis menjadi bias atau tidak akurat. Dengan mengetahui jumlah duplikasi, kita bisa memutuskan apakah perlu menghapus baris tersebut agar data menjadi lebih bersih.

Untuk pulikat juga sama tidak ada data yang duplikat

Untuk memverifikasi bisa show head() dan tail() seperti di bawah ini atau count duplicates() dan isnan()

In [ ]:
tika_df.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22
5,E0006,Fajar,Energi,21.0,-20,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,120,58.2,83.0,2024-11-17
9,E0010,Joko,Teknik,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,NaN,2024-03-24
12,E0013,Maya,ManajemenEnergi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Teknik,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Teknik,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,EnErGi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,NaN
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Teknik,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Energi,NaN_string,75.4,70.0,2024-01-25
22,E0023,Wawan,Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,NaN,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Teknik,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Teknik,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Energi,20.0,eighty,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Teknik,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Energi,23.0,NaN,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,NaN
37,E0038,Lulu,Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,NaN,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Teknik,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Teknik,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,NaN,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Energi,21years,62.6,78.0,2024-01-30
54,E0055,Dina,NaN,24.0,67.5,68.0,2024-10-26

**Penjelasan:**

kode tersebut digunakan untuk menampilkan 55 baris pertama dari dataframe. Cara ini membantu kita melihat bagian awal data secara langsung, misalnya untuk mengecek struktur kolom, memastikan hasil pembersihan data, atau melihat apakah ada nilai yang tidak sesuai di awal dataset. Fungsi ini sangat berguna saat ingin melakukan pemeriksaan cepat sebelum melanjutkan ke proses analisis yang lebih mendalam.

In [ ]:
tika_df.tail()

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

**Penjelasan:**

kode tersebut digunakan untuk menampilkan 5 baris terakhir dari dataframe secara default. Cara ini berguna untuk memeriksa kondisi data di bagian akhir dataset, seperti memastikan tidak ada nilai yang hilang, melihat hasil perubahan setelah proses pembersihan data, atau mengecek apakah struktur datanya sudah konsisten hingga baris terakhir. Dengan melihat bagian akhir ini, kita bisa melakukan pengecekan cepat sebelum melanjutkan langkah analisis berikutnya.

In [ ]:
tika_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

**Penjelasan:**

kode tersebut digunakan untuk menampilkan ringkasan lengkap mengenai struktur dataframe. Outputnya akan menunjukkan jumlah baris dan kolom, nama setiap kolom, jumlah nilai yang tidak kosong (non-null), tipe data masing-masing kolom, serta total penggunaan memori. Informasi ini sangat membantu untuk memahami kondisi keseluruhan dataset, seperti apakah masih ada nilai yang hilang, apakah tipe data sudah sesuai, dan bagaimana bentuk struktur data sebelum dilakukan analisis lebih lanjut.

JIka di lihat pada info, maka semua jumlah data sama yaitu 70, maka proses Pembersihan data sudah selesai

Export data yang sudah di bersihkan menjadi file csv, menggunakan script berikut ini

In [ ]:
tika_df.to_csv("tika_clean.csv", index=False)

**Penjelasan:**

kode tersebut digunakan untuk menyimpan dataframe ke dalam sebuah file CSV dengan nama tika_clean.csv. Opsi index=False memastikan bahwa indeks baris tidak ikut disimpan ke dalam file, sehingga hanya data dan kolom saja yang muncul. Langkah ini berguna setelah proses pembersihan selesai, karena kita dapat menyimpan hasil data yang sudah rapi dan siap digunakan untuk analisis atau kebutuhan lain di luar Python.

Lalu lakukan Dodownload file csv yang sudah di export sebelumnya

In [ ]:
from google.colab import files
files.download("tika_clean.csv")

**Penjelasan:**

kode tersebut digunakan untuk mengunduh file CSV yang sebelumnya telah disimpan di lingkungan Google Colab. Perintah ini akan menampilkan tombol atau proses download otomatis sehingga file tika_clean.csv dapat disimpan ke komputer pengguna. Langkah ini biasanya dilakukan setelah data selesai dibersihkan dan diekspor, sehingga hasil akhirnya dapat digunakan di luar Colab, seperti untuk laporan, analisis lanjutan, atau pengolahan di aplikasi lain.

Bandingkan hasil data csv sebelumnya dengan csv yang sudah di bersihkan
bisa di buka menggunakan excel / spreadsheet untuk membandingaknya

**Silahkan di jelskan langkah-langkah dan hasil latihan pada laporan**

---